@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #effbfb;
  --foreground: #071c1c;
  --container: #045c8150;
  --container-2: #839cea50;
  --primary: #045b81;
  --secondary: #839cea;
  --accent: #5657e3;
  --transparent: transparent;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031822;
    --foreground: #e1f5fe;
    --container: #7ed6fb50;
    --container-2: #152e7a50;
    --primary: #7ed6fb;
    --secondary: #152e7a;
    --accent: #6a6af5;
    --transparent: transparent;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 1rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font: 800 3rem var(--font-lexend-mega);
  @media screen and (max-width: 600px) {
    font: 800 2rem var(--font-lexend-mega);
  }
}

h2 {
  font: 700 2.6rem var(--font-lexend-mega);
}

h3 {
  font: 600 2.2rem var(--font-lexend-mega);
  @media screen and (max-width: 600px) {
    font: 600 2.2rem var(--font-lexend-mega);
  }
}

h4 {
  font: 600 1.6rem var(--font-archivo);
}

h5 {
  font: 600 1.25rem var(--font-archivo);
}

h6 {
  font: 600 1rem var(--font-archivo);
}

p {
  font: 400 1rem var(--font-open-sans);
}

li {
  font: 400 1rem var(--font-open-sans);
}
